.chat-input {
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  border-radius: 5px;

  
}
.chat-input button {
  margin-left: 3px;
  background-color: greenyellow;
  border-radius: 5px;
  width:50px;
  height:30px;
  border:none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
}

.chats {
  padding: 3px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.avtar {
  height: 40px;
  margin: 5px 10px 0px 0px;
  border-radius: 50%;
  border: 1px solid rgb(211, 203, 203);
  padding: 2px;
  background-color: rgb(228, 221, 181);
}

.chat {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
}
.chat p {
  flex-grow: 1;
}

.send .avtar {
  order: 1;
}
.recieve .avtar {
  order: 0;
}

.send {
  align-self: flex-end;
  background-color: rgb(120, 99, 177);
}
.recieve {
  background-color: rgb(137, 200, 163);
}

.message-text {
  margin: 1px;
}
